.chatbot {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: #1c2020;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatbot h3 {
  color: rgb(73, 127, 228);
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-input {
  border-top: 1px solid #1d1818;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* User message styling */
.user {
  background-color: #dae2eb; /* Light blue background for user messages */
  color: #1a4d9b; /* Dark blue text */
  text-align: right;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
}

/* Bot message styling */
.bot {
  background-color: #f0f4ff; /* Slightly lighter blue background for bot messages */
  color: #1a4d9b; /* Dark blue text */
  text-align: left;
  padding: 8px;
  border-radius: 5px;
  margin: 5px 0;
}
   